$gray-100: #808080;
$gray-200: #323232;
$gray-300: #212121;
$gray-400: #454545;
$white: #fff;
$cyan: #14ffec;
$red: #d6436e;
$green: #25da72;
$blue: #0991DE;

$fontSize-sm: 14px;
$fontSize-md: 18px;
$fontSize-lg: 24px;
$fontSize-xl: 32px;
$fontSize-base: 16px;
